# Step 1 with python

## Data types

### Numbers

In [2]:
1+1

2

In [3]:
1*3

3

In [4]:
1/3

0.3333333333333333

In [7]:
2**2

4

In [8]:
1.1

1.1

In [9]:
2*6

12

In [11]:
2+3*3

11

In [12]:
(2+3) *2

10

In [14]:
7%5 # modulo le reste de la division de 7 par 5

2

In [15]:
var = 2

In [16]:
var

2

In [17]:
x = 5
y = 15

In [19]:
x = x+var+x

In [20]:
x

12

In [23]:
value_x = x+2

In [24]:
value_x

14

### Strings

In [25]:
"double quote"

'double quote'

In [26]:
'single quote'

'single quote'

In [27]:
"I this it is better than all so I can't leave"

"I this it is better than all so I can't leave"

In [29]:
x= 'help'

In [30]:
print(x)

help

In [36]:
num = 12
name = 'sam'
age  = 23

In [37]:
# format 
'My number is {}, my name is {} and my age is {}'.format(num, name, age)

'My number is 12, my name is sam and my age is 23'

In [41]:
# format can take values
print('My number is {one}, my name is {two} and my age is {tree}'.format(one = num, two = name, tree = age))

My number is 12, my name is sam and my age is 23

In [42]:
s = 'hello'

In [43]:
#select specific element of s
s[0]

'h'

In [46]:
for i in range(0,len(s)):
    print(s[i])

h
e
l
l
o

In [47]:
s[0:] # idex start by 0

'hello'

In [48]:
s[:3] # dont selec last index or the last index is't incluse

'hel'

In [49]:
s[3:len(s)]

'lo'

### List

In [50]:
['a', 'b', 'c', 'd','e']

['a', 'b', 'c', 'd', 'e']

In [51]:
my_list = ['a', 'b', 'c', 'd','e']

In [52]:
#append of list
my_list.append('f')

In [53]:
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [56]:
my_list[0] = 'NEW' # add worl new at the first index of my_list. replace a by New

In [55]:
my_list

['NEW', 'b', 'c', 'd', 'e', 'f']

In [57]:
my_list[2]

'c'

In [64]:
nest = [1,2,[3,4]] # we have a list inside of list # 2 Dimension for second list

In [60]:
nest[2][1]

4

In [61]:
nest[1]

2

In [62]:
nest[0]

1

In [65]:
nest[2][0]

3

In [68]:
nest=[1,2,3,[4,5,['target']]]

In [69]:
nest[3][2][0]

'target'

### Dictionary

In [9]:
d = {'key1': 'value','key2':123}

In [3]:
d

{'key': 'value', 'kev2': 123}

In [6]:
d['key1'] #idex value bu key

'value'

In [10]:
d['key2']

123

In [11]:
d = {'k1':[1,2,3]} # dictionary can contain list

In [12]:
d['k1']

[1, 2, 3]

In [14]:
my_list = d['k1']

In [15]:
my_list

[1, 2, 3]

In [17]:
my_list[0]

1

In [18]:
d['k1'][0]

1

In [20]:
d = {'k1':{'innerkey':[1,2,3]}} # many keys values in dictionary

In [23]:
d['k1']['innerkey'][1]

2

### boolean

In [24]:
True

True

In [26]:
False

False

In [49]:
1<2

True

In [51]:
1<=2

True

In [52]:
1==2

False

In [53]:
1!=3

True

In [55]:
'hi'!= 'bye'

True

In [61]:
(1 < 2) and (2 > 3) or (1==1)

True

In [60]:
(1 < 2) or (2 > 3)

True

In [63]:
True and False

False

In [64]:
True and True

True

In [65]:
True or False

True

In [66]:
if 1<2:
    print('yep!')

yep!

In [67]:
if True:
    print('I am here')

I am here

In [70]:
if True:
    print(1+2)

3

In [72]:
if 1 == 2:
    print('First')
else:
    print('last')

last

In [74]:
if 1 == 2:
    print('First')
elif 4 == 4:
    print ('yes!')
elif 3 == 3 :
    print('Middle')
else:
    print('last')

yes!

### tuple ()

In [29]:
t = (1,2,3) # braket

In [30]:
t[0]

1

In [32]:
my_list[0] = 'NEW'

In [33]:
t[0] = 'NEW' # we can't mutate a value in tuple

TypeError: 'tuple' object does not support item assignment

In [34]:
{1,2,3}

{1, 2, 3}

In [36]:
{1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4,4} # result unique element of this

{1, 2, 3, 4}

In [37]:
set([1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4,4, 5,5,5,5,5,6,6,6,6,]) # unique element

{1, 2, 3, 4, 5, 6}

In [38]:
s={1,2,3}

In [41]:
s.add(5)

In [42]:
s

{1, 2, 3, 5}

In [46]:
s.add(6)

In [47]:
s.add(5)

In [48]:
s # do not add an element that already exists

{1, 2, 3, 5, 6}

### sequence

In [76]:
seq = [1,2,3,4,5]

In [77]:
for num in seq:
    print ('hello')

hello
hello
hello
hello
hello

In [79]:
i = 0 # initiation 
while i < 5 : # iteration
    print('i is : {}'.format(i)) # result
    i = i + 1 # count

i is : 0
i is : 1
i is : 2
i is : 3
i is : 4

In [80]:
for x in seq:
    print(x)

1
2
3
4
5

In [83]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [84]:
for x in range(0,len(seq)):
    print(x)

0
1
2
3
4

In [85]:
for x in range(0,len(seq) + 1):
    print(x)

0
1
2
3
4
5

In [87]:
# create a list with range
x = list(range(10))

In [88]:
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
out = [] # initialisation

for num in x:
    out.append(num**2)
print(out)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [96]:

out = [num**2 for num in x]
out

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Function

In [ ]:
def my_func(param1):
    print(param1)